version: "3.9"

services:
  api:
    build: ./backend
    container_name: ignitegym_api
    command: npm run dev
    ports:
      - "3001:3001"
    volumes:
      - ./backend:/usr/src/app
    depends_on:
      - db
    env_file:
       - ./backend/.env.docker
    environment:
      - DOCKER=true

  db:
    image: mysql:8.0
    container_name: ignitegym_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: ignitegym
      MYSQL_USER: admin
      MYSQL_PASSWORD: adminpass
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
