version: "3"

services:
  backend:
    build: ./backend
    ports:
      - "3001:3001"
    environment:
      - DB_USER=root
      - DB_PASS=password
      - DB_NAME=ignitegym
      - DB_HOST=db
      - JWT_SECRET=secret
    volumes:
      - ./backend:/app-backend
      - /app-backend/node_modules
    restart: always
    depends_on:
      - db

  db:
    image: mysql:8.0
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=password
    restart: always